*
{
    margin:0;
    padding:0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/bg2.jpg');
    height:100vh;
    background-size:cover;
    background-position:center;
}

.nav-menu{
    float: right;
    list-style:none;
    margin-top:30px;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color:burlywood;
    text-decoration: none;
    padding:5px 20px;
    font-family:"Verdana", "sans-serif";
    font-size:20px;
}
.homebtn a {

background: rgba(0, 0, 0, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
}
.nav-menu li a:hover{
    background: rgba(117,114,114,0.5) ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.tagline{
    position: absolute;
    width: 1200px;
    margin-left:30;
    margin-top:20;
}
h1{
    color: white;
    font-size:42px;
    font-family:"Verdana", "sans-serif";
    text-align:center;
    margin-top:250px;
    margin-left:270px;
   background: rgba(255, 255, 255, 0);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(2px);
   -webkit-backdrop-filter: blur(0px);


}
.check{
    margin-top:30px;
    margin-left:630px;
}

.bttn{
    border: 0.5px dark gray;
    padding:10px 30px;
    color:tan;
    font-family:"Tahoma", "sans-serif";
    font-size: 22px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.check a:hover{
background-color:rgba(117,114,114,0.2);
}
/* odwolywanie sie do zakladek*/
div.items div:not(:target) {display: none}
div.items div:target {display:block}

div.items p:not(:target) {display: none}
div.items p:target {display:block}