<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Model</title>
</head>
<body>

<div align="center">
    <h1> Enter New Sale</h1>
    <form action="#" th:action="@{/save}" th:object="${modele}" method=""post>


    <table border = "1" cellpadding="10">
        <tr>
            <td>Nazwa Marki:</td>
            <td><input type="text" th:field="*{nazwaMarki}"></td>
        </tr>
        <tr>
            <td>Kod modelu:</td>
            <td><input type="text" th:field="*{kod}"></td>
        </tr>
        <tr>
            <td>Rok produkcji:</td>
            <td><input type="text" th:field="*{rokProdukcji}"></td>
        </tr>
        <tr>
            <td>Pojemnosc Silnika:</td>
            <td><input type="text" th:field="*{pojemnoscSilnika}"></td>
        </tr>
        <tr>
            <td>Rodzaj Paliwa:</td>
            <td><input type="text" th:field="*{rodzajPaliwa}"></td>
        </tr>
        <tr>
            <td>Standart Wyposazenia:</td>
            <td><input type="text" th:field="*{standartWyposazenia}"></td>
        </tr>
        <tr>
            <td>Cena:</td>
            <td><input type="text" th:field="*{cena}"></td>
        </tr>
        <tr>
            <td>Dostepnosc:</td>
            <td><input type="text" th:field="*{dostepnosc}"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="sumbit">Save</button></td>
        </tr>

    </table>
    </form>
</div>

</body>
</html>